<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Prediksi Sentimen</title>

        <link
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
            rel="stylesheet"
        />

        <link rel="stylesheet" href="../assets/css/style.css">
        <style>
            body {
                padding-top: 50px;
            }
            .container {
                max-width: 600px;
            }
            .result {
                margin-top: 20px;
            }
        </style>
    </head>
    <body>
        <nav class="navbar">
            <div class="navbar-logo">
                <img src="../assets/images/5988495.png" alt="Logo" />
            </div>
            <div class="navbar-icons">
                <i class="fas fa-user"></i>
                <i class="fas fa-bell"></i>
                <i class="fas fa-cog"></i>
            </div>
        </nav>
        <div
            class="container border border-black rounded-lg"
            style="background-color: #f4f4f4; padding: 20px"
        >
            <h1 class="text-center mb-4 mt-4">Prediksi Sentimen Ulasan</h1>
            <form action="/" method="post">
                <div class="form-group">
                    <label for="ulasan">Masukkan Ulasan:</label>
                    <textarea
                        id="ulasan"
                        name="ulasan"
                        class="form-control"
                        rows="4"
                        required
                    ></textarea>
                </div>
                <button type="submit" class="btn btn-primary btn-block">
                    Prediksi
                </button>
            </form>
            {% if hasil_prediksi %}
            <div class="alert alert-info result text-center">
                <h6>Hasil Prediksi:</h6>
                <h2>{{ hasil_prediksi }}</h2>
            </div>
            {% endif %}
        </div>

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
</html>
